<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title ? @page_title : 'Welcome' %> | The BookStore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= params[:controller] == 'books' ? 'active' : '' %>"><%= link_to 'Home', root_path, class:'btn btn-light' %></li> 
            <li class="<%= params[:controller] == 'about' ? 'active' : '' %>"><%= link_to 'About', about_path, class:'btn btn-light' %></li> 
            <li><%=link_to "Add Book", new_book_path, class:'btn btn-light' %></li> 
            <span></span>
            <li><%= link_to "Add Category", new_category_path, class:'btn btn-light' %></li> 
            <li><%= link_to "Add Author", new_author_path, class:'btn btn-light' %> </li> 
            <li><%= link_to "Add Publisher", new_publisher_path, class:'btn btn-light' %></li> 

            <li><%= link_to "Edit Categories", categories_path, class:'btn btn-light' %></li> 
            <li><%= link_to "Edit Authors", authors_path, class:'btn btn-light' %> </li>
            <li><%= link_to "Edit Publishers", publishers_path, class:'btn btn-light' %></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav> -->


    <header> 
      <div class="container">
        <h1> The BookStore <small> <%= @page_title ? @page_title : 'Welcome' %> </small>
        </h1>
      </div>
    </header>

    <section>
      <div class="container">
        <div  class="row">
          <div class="col-md-8">
            <!-- Alerts and Messages -->
            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% end %>

            <% if flash[:alert] %>
              <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>

            <%= yield %>
          </div>

          <div class="col-md-4">
            <%= render 'partials/sidebar'%>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Copyright &copy; 2019, All Rights Reserved</p>
      </div>
    </footer>
  </body>
</html>
